<form style="margin:200px ;" action="/admin/login" method="post">
    <div class="mb-3">
        <label for="usuario" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="usuario" name="usuario" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Nunca reveles tus contraseñas a nadie.</div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Clave</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{{#if error}}
 <p>Usuario y contraseña incorrectos</p>
 {{/if}}