/* footer {
    background-color: yellowgreen;
    text-align: center;
} */

/* form { */

    /* width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 100px;
    border-radius: 7px;
    margin-left: 72px;
} */